<div class="home-page">
  <div class="jumbotron">
    <img src="images/logo.png" alt="logo" class="home-logo">
    <hr />
    <h1 class="display-4">Welcome to SPRouter.js</h1>
    <p class="lead">Easiest JavaScript router with ajax.</p>
    <hr class="my-4">
    <h4>Table of contents.</h4>
    <ul class="home-list">
      <li>
        <span>Installation</span>
        <ul>
          <li>Installation</li>
          <li>Integration</li>
          <li>Configuration</li>
        </ul>
      </li>
      <li>
        <span>Usage</span>
        <ul>
          <li>Content selector setup</li>
          <li>Setup default route</li>
          <li>Create routes</li>
        </ul>
      </li>
      <li><span>Additional</span>
        <ul>
          <li>Loader</li>
          <li>Lazy Loader</li>
        </ul>
      </li>
      <li><span>Hashtag</span></li>
    </ul>
    <hr class="my-4">
    <p>This demo page is using SPRouterJS.</p>
    <a class="btn btn-primary btn-lg" href="#/installation" role="button">Get Started</a>
  </div>
</div>