<h1 class="mb-3">Intallation</h1>
<hr/>
<h5 class="mb-2 mt-3">Via npm:</h5>
<pre class="bg-dark p-4 text-white mb-5">
npm i sp-router-js
</pre>

<hr/>

<h1 class="mt-5 mb-3">Implementation</h1>
<hr/>
<h4 class="mb-2 mt-3">Base Path</h4>
<p>To make this router work you must set base path. To set base url path to your website application, add following meta tag:</p>
<pre class="bg-dark p-4 text-white">
&lt;meta content="http://example.com/" name="base_url" />
</pre>
<hr/>
<h3 class="mb-2 mt-3">Include to project</h3>
<h4 class="mb-2 mt-3">From node_modules:</h4>
<pre class="bg-dark p-4 text-white">
&lt;script src="node_modules/sp-router-js/dist/sp-router.js">&lt;/script>
&lt;script src="node_modules/sp-router-js/dist/sp-router.min.js">&lt;/script>
</pre>
<h4 class="mb-2 mt-3">Custom path:</h4>
<pre class="bg-dark p-4 text-white">
&lt;script src="path/to/router/sp-router.js">&lt;/script>
&lt;script src="path/to/router/sp-router.min.js">&lt;/script>
</pre>

<hr/>

<h1 class="mt-5 mb-3 mb-5">Configuration</h1>
<hr/>
<p class="mb-2 mt-3">Create routerConfig.js file in your project.</p>
<p class="mb-2 mt-3">Then add following code:</p>
<pre class="bg-dark p-4 text-white">
var router = new SPRouter({
    ...
});
</pre>
<p class="mb-2 mt-3">After configuration file is created add to your project after router-js script.</p>
<pre class="bg-dark p-4 text-white mb-5">
&lt;script src="sp-router.js">&lt;/script>
&lt;script src="routerConfig.js">&lt;/script>
</pre>

<div class="row">
    <div class="col d-flex justify-content-between">
        <a href="/" class="btn btn-outline-primary mb-5">Home</a>
        <a href="#/usage" class="btn btn-outline-primary mb-5">Usage</a>
    </div>
</div>