<div class="usage-page">
    <div class="usage-page-header">
        <h1 class="mb-3 page-title">Usage</h1>

        <hr/>
    </div>
    <div class="usage-page-selector">
        <h1 class="mt-5 mb-2 section-title">Content selector setup</h1>
        <p class="mb-2 mt-0 article-content">First add div to your index page and add selector by id or class:</p>
<pre>
<code class="hljs html">
&lt;!doctype html>
&lt;html lang="en">

&lt;head>
    &lt;title>Your Page&lt;/title>
    &lt;meta content="http://localhost:3000/" name="base_url" />
&lt;/head>

&lt;body>
    &lt;nav class="....">
        ...
    &lt;/nav>

    &lt;div class="container">
        &lt;div id="app">&lt;/div>
    &lt;/div>

    &lt;footer>
        ...
    &lt;/footer>

    &lt;script src="js/sp-router/sp-router.js">&lt;/script>
    &lt;script src="js/routerConfig.js">&lt;/script>
&lt;/body>

&lt;/html>
</code>
</pre>
        <p class="article-content">Then add content to router configuration.</p>
<pre>
<code class="hljs javascript">
var router = new SPRouter({
    content: "#app"
});
</code>
</pre>

        <hr/>
    </div>
    <div class="usage-page-setup">
        <h1 class="mt-5 mb-3 section-title">Setup default route</h1>
        <p class="mb-2 mt-3 article-content">To setup default route for your application add <b class="text-danger">defaultRoute</b> parameter to the configuration.</p>
<pre>
<code class="hljs javascript">
var router = new SPRouter({
    content: "#app",
    defaultRoute: "/"
});
</code>
</pre>

        <hr/>
    </div>
    <div class="usage-page-create">
        <h1 class="mt-5 mb-3 section-title">Create routes</h1>
        <h4 class="mb-2 mt-3 content-title">Create basic routes</h4>
        <p class="article-content">To create a basic route you must add routes array with objects into router configuration.</p>
        <p class="article-content">All routes must have by default: <b class="text-danger">title</b>, <b class="text-danger">route</b> and <b class="text-danger">template</b>.</p>
<pre>
<code class="hljs javascript">
var router = new SPRouter({
    content: "#app",
    defaultRoute: "/"
    routes: [
        {
            title: "Home",
            route: "/",
            template: "views/home/home.html"
        }
    ],
});
</code>
</pre>
        <p class="article-content">Additional if you want to add custom js file for every page then provide script key for every route.</p>
<pre>
<code class="hljs javascript">
var router = new SPRouter({
    content: "#app",
    defaultRoute: "/"
    routes: [
        {
            title: "Home",
            route: "/",
            template: "views/home/home.html",
            script: "views/home/home.js"
        }
    ],
});
</code>
</pre>

        <h4 class="mb-2 mt-3 content-title">Create routes with segments</h4>
        <p class="article-content">If we want to add page with products and preview page for every product we must provide some id, title etc.. and after to get this dynamic parameters in every page. Next following code will show you how to configure dynamic routes with parameters.</p>
<pre>
<code class="hljs javascript">
var router = new SPRouter({
    content: "#app",
    defaultRoute: "/"
    routes: [
        {
            title: "Products",
            route: "/products",
            template: "views/products/products.html",
            script: "views/products/products.js"
        },
        {
            title: "Product",
            route: "/products/:productId/view",
            template: "views/products/product.html",
            script: "views/products/product.js"
        }
    ],
});
</code>
</pre>
        <p class="article-content">All dynamic parameters you want to configure in routes must be sperated with color(:).</p>
        <p class="article-content">Example: <b class="text-danger">:productId</b></p>
        <p class="article-content">To get this dynamic paramter (id, title etc...) you must take from router object.</p>
<pre>
<code class="hljs javascript">
var router = new SPRouter({...});
var id = router.segment("productId");
</code>
</pre>
    </div>
    
    <div class="buttons">
        <div class="row">
            <div class="col d-flex justify-content-between">
                <a href="#/installation" class="btn btn-outline-primary mb-5"><span class="arrow arrow-left"></span>Installation</a>
                <a href="#/additional" class="btn btn-outline-primary mb-5">Additional<span class="arrow arrow-right"></span></a>
            </div>
        </div>
    </div>
</div>