<h1 class="mb-3">Usage</h1>

<hr/>

<h1 class="mt-5 mb-3">Content selector setup.</h1>
<hr/>
<h4 class="mb-2 mt-3">First add div to your page and add id or class:</h4>
<pre class="bg-dark p-4 text-white">
&lt;div id="app">&lt;div>
</pre>
<p>Then add content to router configuration.</p>
<pre class="bg-dark p-4 text-white">
var router = new SPRouter({
    content: "#app"
});
</pre>

<hr/>

<h1 class="mt-5 mb-3">Setup default route</h1>
<hr/>
<h4 class="mb-2 mt-3">To setup default route add defaultRoute parameter to the configuration.</h4>
<pre class="bg-dark p-4 text-white">
var router = new SPRouter({
    content: "#app",
    defaultRoute: "/"
});
</pre>

<hr/>

<h1 class="mt-5 mb-3">Create routes</h1>
<hr/>
<h4 class="mb-2 mt-3">Create basic routes</h4>
<pre class="bg-dark p-4 text-white">
var router = new SPRouter({
    content: "#app",
    defaultRoute: "/"
    routes: [
        {
            title: "Home",
            route: "/",
            template: "views/home/home.html"
        }
    ],
});
</pre>
<p>To create a basic route you must add routes array with objects into router configuration.</p>
<p>All routes must have by default: title, route and template.</p>
<p>Additional if you want to add custom js file for every route provide script key for every route.</p>
<pre class="bg-dark p-4 text-white">
var router = new SPRouter({
    content: "#app",
    defaultRoute: "/"
    routes: [
        {
            title: "Home",
            route: "/",
            template: "views/home/home.html",
            script: "views/home/home.js"
        }
    ],
});
</pre>

<h4 class="mb-2 mt-3">Create routes with segments</h4>
<p>If we want to add page with products and preview page for every product we must provide some id, title etc.. and after to take this dynamic parameters in every page. Next following code will show you how to configure dynamic routes with parameters.</p>
<pre class="bg-dark p-4 text-white">
var router = new SPRouter({
    content: "#app",
    defaultRoute: "/"
    routes: [
        {
            title: "Products",
            route: "/products",
            template: "views/products/products.html",
            script: "views/products/products.js"
        },
        {
            title: "Product",
            route: "/products/:productId/view",
            template: "views/products/product.html",
            script: "views/products/product.js"
        }
    ],
});
</pre>
<p>All dynamic parameters you want to configure in routes must be sperated with (:).</p>
<p>To get this dynamic paramter (id, title etc...) you must take from router object.</p>
<pre class="bg-dark p-4 text-white">
var id = router.segment("productId");
</pre>

<hr/>

<h1 class="mt-5 mb-3 mb-5">Configuration</h1>
<hr/>
<p class="mb-2 mt-3">Create routerConfig.js file in your project.</p>
<p class="mb-2 mt-3">Then add following code:</p>
<pre class="bg-dark p-4 text-white">
var router = new SPRouter({
    content: "#app",
    routes: [
        ...
    ],
    defaultRoute: ...
});
</pre>
<p class="mb-2 mt-3">After configuration file is created add to your project after router-js script.</p>
<pre class="bg-dark p-4 text-white mb-5">
&lt;script src="sp-router.js">&lt;/script>
&lt;script src="routerConfig.js">&lt;/script>
</pre>

<div class="row">
    <div class="col d-flex justify-content-between">
        <a href="#/installation" class="btn btn-outline-primary mb-5">Installation</a>
        <a href="#/usage" class="btn btn-outline-primary mb-5">Usage</a>
    </div>
</div>